body {
    font-family: "Nunito Sans", -apple-system, ".SFNSText-Regular", "San Francisco", BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    font-size: 0.9em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-overflow-scrolling: touch;
    color: #333;
}

.simple-pivot-table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

.simple-pivot-table th, 
.simple-pivot-table td {
    text-align: left;
    border-top: 1px solid #ccc;
    padding: 0.6em;
}

.simple-pivot-table th {
    vertical-align: top;
    background-color: #fff;
    font-weight: normal;
}

.simple-pivot-table thead th {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
    font-weight: bold;
}

.simple-pivot-table tbody td.bar {
    font-weight: bold;
    background-color: #f2f2f2;
}

.simple-pivot-table th.pivotRowHeaderTotal,
.pivotSubtotal, 
.pivotRowValueTotal {
    font-weight: bold !important;
}

th.pivotRowHeaderHighlight {
    background-color: yellow;
}

.simple-pivot-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.simple-pivot-table tbody tr.selected td {
    background: #bbe4f2;
}

th a {
    color: #333;
    text-decoration-color: red;
    transition: text-decoration-color 0.2s ease-in-out, color 0.2s ease-in-out;
    text-decoration-thickness: min(0.08em, 0.1rem);
    text-underline-offset: 0.14em;
}

.popoverBox {
    background-color: #fff;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2);
    clear: both;
    padding: 10px !important;
    width: 240px;
}

.popOverBox-table {
    border: 0;
}

.popOverBox-table-cell {
    width: 50%;
    padding-right: 1em;
}

.popOverBox-table th, 
.popOverBox-table td {
    text-align: left;
    border-top: none !important;
}

.pivotHeaderSeparator {
    border-right: 1px solid #ccc;
}
