.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .loader-spinner {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #eeeeee;
    border-top: 2px solid #bbbbbb;
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
